{% extends 'modules/app.html' %}

{% block content %}
<main>
	<section>
		<div class="container">
			<div class="row">
				<div class="col">
					<h4>Your verification details</h4>
					<p>Email Verification <span class="{% if is_email_verified %} text-success {% else %} text-danger {% endif %}">
						{% if is_email_verified %}
							Done on {{ email_verified_at|date:"D, d M, Y" }}
						{% else %}
							x
						{% endif %}
					</span></p>
					<p>Mobile Verification <span class="{% if is_mobile_verified %} text-success {% else %} text-danger {% endif %}">
						{% if is_mobile_verified %}
							Done on {{ mobile_verified_at|date:"D, d M, Y" }}
						{% else %}
							x
						{% endif %}
					</span></p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<a class="btn btn-sm btn-danger" href="{% url 'logout' %}">Logout</a>
				</div>
			</div>
		</div>
	</section>
</main>
{% endblock %}